name: user-statistician

on:
    # Schedule updates (every week)
    schedule: [{ cron: "0 0 * * 0" }]
    workflow_dispatch:
    workflow_call:

jobs:
    stats:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
              with:
                  # ref: stats
                  fetch-depth: 0

            # - name: Generate the general stats image
            #   uses: cicirello/user-statistician@v1.24.0
            #   with:
            #       image-file: images/general.svg
            #       include-title: false
            #       colors: dark
            #       hide-keys: featured, sponsors, sponsoring, languages, contributions, repositories
            #       commit-message: "[Auto] new general stats generated"
            #   env:
            #       GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

            # - name: Generate the repositories stats
            #   uses: cicirello/user-statistician@v1.24.0
            #   with:
            #       image-file: images/repositories.svg
            #       include-title: false
            #       colors: dark
            #       hide-keys: general, contributions, languages
            #       commit-message: "[Auto] new repositories stats generated"
            #   env:
            #       GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

            # - name: Generate the contributions stats
            #   uses: cicirello/user-statistician@v1.24.0
            #   with:
            #       image-file: images/contributions.svg
            #       include-title: false
            #       colors: dark
            #       hide-keys: private, general, languages, repositories
            #       commit-message: "[Auto] new contributions stats generated"
            #   env:
            #       GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

            - name: Generate the languages distribution
              uses: cicirello/user-statistician@v1.24.1
              with:
                  image-file: images/languages.svg
                  include-title: false
                  colors: dark
                  hide-keys: general, contributions, repositories
                  commit-message: "[Auto] new languages distribution generated"
              env:
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
